body {
  background-color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: blue;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

.form-wrapper {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
}

.instructions {
  padding: 14px 80px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin: 0 auto;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 50px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  font-weight: 400;
  border-left: 3px solid purple; /* FIX: added color */
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin: 20px auto;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
